.secondContainer {
  border: 3px solid rgba(22, 8, 101, 0.438);
  border-radius: 50px;
}

.alert {
  margin: 10px;
  text-align: center;
  color: brown;
}

.thirdContainer {
  border-radius: 5px;
  display: flex;
  align-items: baseline;
  gap: 10px;
  background-color: white;
  padding: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 250px;
  font-size: larger;
  border: none;
  border-bottom: 1px solid grey;
}

.label {
  color: rgb(12, 7, 29);
  letter-spacing: 10px;
}

.error {
  color: brown;
  letter-spacing: normal;
}

.button {
  border-radius: 10px;
  background-color: rgb(8, 34, 149);
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
