.container {
  border: 3px solid rgba(22, 8, 101, 0.438);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(20, 3, 45, 0.169);
  border-radius: 10px;
  width: 100%;
  min-height: 97vh;
}
